<!DOCTYPE HTML>
<html>
    <head>
        <%- include('../partials/head', {title: 'Home'}); %>
    </head>
    <body>
        <%- include('../partials/navbar'); %>

        <div class="container pt-3">
            <center>
                <h3 style="font-weight:600">Quizi Interactive Math Practice!</h3>
                <p>
                    Welcome to the Quizi Interactive Math Practice webiste, where you can practice and train the concepts you've been taught in class on challenging problems
                    that push your boundaries. On Quizi, you're given a wide array of concepts to choose from, ranging from basic arithmetic to high school calculus. Additionally,
                    you can also select your chosen difficulty level, so you can practice on as hard or as easy of a problem set as you'd like.
                </p>
                <p>
                    Finally, Quizi keeps track of your progress, allowing you to remember what questions you've missed before and where you can improve.
                </p>
                <p>
                    We hope that you'll enjoy your time here at Quizi, and we look forward to seeing your progress. Happy studying!
                </p>
            </center>
        </div>
        <%- include('../partials/scripts'); %>
    </body>
</html>